<section class="hero-section">
    <div class="hero-content">
        <h1 class="hero-title">NO ES BAIT, ES <span class="highlight-b8">B8</span></h1>
        <p class="hero-description">
            Acá encontrarás torneos de tus videojuegos favoritos, canales y streamers de la disciplina,
            además de una agradable comunidad apasionada por el mundillo.
        </p>
        <button class="btn btn-create-tournament">CREAR UN TORNEO</button>
    </div>
    <div class="hero-images">
        <img src="assets/logo B8.png" alt="SuperSmashBrosUltimate" class="main-image">
        <img src="assets/images/placeholder1.png" alt="Juego 1" class="secondary-image secondary-image-1">
        <img src="assets/images/placeholder2.png" alt="Juego 2" class="secondary-image secondary-image-2">
    </div>

    <div class="bottom-bar">
        <p class="bottom-bar-text">SOMOS LA PRIMERA PLATAFORMA DE TORNEOS DE ESPORTS DE VENEZUELA</p>
    </div>
</section>
