<section class="how-we-work-section">
    <h2 class="section-title">¿CÓMO TRABAJAMOS?</h2>
    <div class="cards-container">
        <div class="feature-card green-bg">
            <div class="card-icon-placeholder">
                <img src="../../../../../assets/svgs/intermediario 1.svg" alt="Rocket Icon" class="icon-rocket"
                     style="width: 90px; height: 90px;">
            </div>
            <h3 class="card-title">SIN INTERMEDIARIOS</h3>
            <p class="card-description">
                Somos una plataforma con pagos directos, sin intermediarios.
            </p>
        </div>

        <div class="feature-card white-bg">
            <div class="card-icon-placeholder">
                <img src="../../../../../assets/svgs/silla-de-gamer 1.svg" alt="Torneo Icon" class="icon-tournament"
                     style="width: 120px; height: 120px;">
            </div>
            <h3 class="card-title"><span class="highlight-green">PARA JUGADORES</span></h3>
            <p class="card-description">
                Esta creado por jugadores para jugadores, entendemos lo que necesitamos y lo hacemos.
            </p>
        </div>

        <div class="feature-card white-bg">
            <div class="card-icon-placeholder">
                <img src="../../../../../assets/svgs/red-global 1.svg" alt="Global Icon" class="icon-global"
                     style="width: 90px; height: 90px;">
            </div>
            <h3 class="card-title"><span class="highlight-green">GLOBALES</span></h3>
            <p class="card-description">
                No tenemos limitaciones geográficas, juega desde cualquier parte del mundo.
            </p>
        </div>
    </div>
</section>
