<section class="about-partners-section">
  <div class="about-partners-banner">
    <span class="about-partners-title">PARTNERS</span>
    <img
      src="assets/svgs/Banesco_logo.svg"
      alt="Banesco"
      class="about-partner-logo"
    />
    <img
      src="assets/svgs/Logo_USM_Horizontal_Mesa_de_trabajo_1-1.svg"
      alt="Universidad Santa María"
      class="about-partner-logo"
    />
    <img
      src="assets/svgs/Logo-de-la-academia-de-esports.svg"
      alt="UCAB eSports"
      class="about-partner-logo"
    />
  </div>
</section>
