<footer class="footer">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="../../../../../assets/images/logoB8.png" alt="BB Logo Footer" width="60" height="60">
        </div>

        <div class="footer-links">
            <div class="footer-column">
                <h4>Sobre BB</h4>
                <ul>
                    <li><a href="#">Misión</a></li>
                    <li><a href="#">Visión</a></li>
                    <li><a href="#">Directiva</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Torneos</h4>
                <ul>
                    <li><a href="#">Destacados</a></li>
                    <li><a href="#">Próximos</a></li>
                    <li><a href="#">Crear</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Perfil</h4>
                <ul>
                    <li><a href="#">Mis Equipos</a></li>
                    <li><a href="#">Amigos</a></li>
                    <li><a href="#">Apuestas</a></li>
                    <li><a href="#">Historial</a></li>
                    <li><a href="#">Configuración</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Comunidad</h4>
                <ul>
                    <li><a href="#">Destacados</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Tutoriales</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-newsletter">
            <h4>Suscríbete a nuestro newsletter</h4>
            <div class="newsletter-form">
                <input type="email" placeholder="Ingresa tu correo" class="newsletter-input">
                <button class="btn newsletter-btn">SUSCRIBIRME</button>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon"><img src="../../../../../assets/images/Instagram.png" alt="Instagram"></a>
                <a href="#" class="social-icon"><img src="../../../../../assets/images/Github.png" alt="GitHub"></a>
                <a href="#" class="social-icon"><img src="../../../../../assets/images/discordia 1.png" alt="Discord"></a>
                </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p class="copyright">Todos los derechos reservados por BB Group 2024</p>
        <div class="legal-links">
            <a href="#">Términos y condiciones</a>
            <a href="#">Política de privacidad</a>
        </div>
    </div>
</footer>
