<nav class="navbar">
    <div class="navbar-left">
        <div class="logo">
            <img
          src="../../../../assets/svgs/logo b8 svg.svg"
          alt="Sin intermediarios"
          width="5000"
          height="5000"
        />
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre BB</a></li>
            <li><a href="#">Torneos</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <button class="btn btn-register">Registrarme</button>
        <button class="btn btn-login">Iniciar sesión</button>
    </div>
</nav>
